option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: advance_ecommerce.settings  # Set this if using Django
  aws:elasticbeanstalk:container:python:
    WSGIPath: advance_ecommerce.wsgi:application          # Use dots, not slashes
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static/: static/                                      # Use trailing slashes and equal signs
