<!-- ========================= FOOTER ========================= -->
    <footer class="section-footer border-top">
      <div class="container">
        <section class="footer-bottom border-top row">
          <div class="col-md-4">
            <p class="text-muted">&copy 2025 Parkhe Group Of Companies</p>
          </div>
          <div class="col-md-8 text-md-center">
            <span class="px-2">dnspark28@gmail.com</span>
            <span class="px-2">+91 7410576561</span>
            <span class="px-2">Hadapsar Pune, Maharastra</span>
          </div>
          
        </section>
      </div>
      <!-- //container -->
    </footer>
    <!-- ========================= FOOTER END // ========================= -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
      $(document).ready(function(){
        $('.thum a').click(function(e){
          e.preventDefault();
          $('.mainImage img').attr('src', $(this).attr("href"));
        })
      })
    </script>

  </body>
  </html>